h3 {
   color: brown;
}

img {
   border-radius: 50%;
   border: 1px solid #ddd;

   padding: 5px;
   width: 40%;
   height: auto;
   content:'';
    display: block; 
}

.photos {
   text-align: center;
}