.chores {
        font-family:  "Cursive" , "Lucida Handwriting";
        font-size: 15px;
        color: purple;
        font-style: italic;
    }

    h3 {
        
            color: purple;
            
            text-align: center;
        
        text-decoration: underline;
      }