.chores {
        font-family:  "Cursive" , "Lucida Handwriting";
        font-size: 3vw;
        color: purple;
        font-style: italic;
    }

    h3 {
        text-decoration: underline;
      }